	<div id="wrapper">
		<div class="vertical-align-wrap">
			<div class="vertical-align-middle">
			<div id="alertas" name="alertas">
				
			</div>
				<div class="auth-box ">

					<div class="left">
						<div class="overlay"></div>
						<div class="content text">
							<div class="header">
								<!--div class="logo text-center"><img src="assets/img/logo-dark.png" alt="Klorofil Logo"></div-->
								<p class="lead">Ingresa</p>
							</div>
							
							<form class="form-auth-small" method="post" id="sesion" name="sesion" action="/login">
								<div class="form-group">
									<label for="signin-email" class="control-label sr-only">Email</label>
									<input type="email" class="form-control" id="signin_email" name="signin_email" value="" placeholder="Email" required>
								</div>
								<div class="form-group">
									<label for="signin-password" class="control-label sr-only">Password</label>
									<input type="password" class="form-control" id="signin_password" name="signin_password" value="" placeholder="Password" required>
								</div>
								<div class="form-group clearfix">
									<label class="fancy-checkbox element-left">
										<input type="checkbox">
										<span>Recuerdame</span>
									</label>
								</div>
								<button class="btn btn-primary btn-lg btn-block" type="submit">LOGIN</button>
								<div class="bottom">
									<span class="helper-text"><i class="fa fa-lock"></i> <a href="#">Olvide mi Contraseña?</a></span>
								</div>
							</form>
						</div>
					</div>
					<div class="right">
						<div class="overlay"></div>
						<div class="content text">
							<div class="header">
								
								<p class="lead">Crea tu cuenta</p>
							</div>
							<form class="form-auth-small" id="registrar" name="registrar" method="post"  action="/">
								<!--div class="form-group">
									<label for="signin-email" class="control-label sr-only">Identificacion</label>
									<input type="" class="form-control" id="signin-id" name="signup-id" placeholder="Indentificacion" value="18573577">
								</div-->
								<div class="form-group">
									<label for="signin-email" class="control-label sr-only">Nombre</label>
									<input type="name" class="form-control" id="signup_name" name="signup_name" placeholder="Nombre" value="" required>							</div>
								<div class="form-group">
									<label for="signin-email" class="control-label sr-only">Email</label>
									<input type="email" class="form-control" id="signup_email" name="signup_email" placeholder="Email" value="" required>
								</div>
								<div class="form-group">
									<label for="signin-password" class="control-label sr-only">Password</label>
									<input type="password" class="form-control" id="signup_password" name="signup_password" placeholder="Password" value="" required>
								</div>
								
								<button type="submit" class="btn btn-primary btn-lg btn-block">REGISTRAR</button>
								<div class="bottom">
									<!--span class="helper-text"><i class="fa fa-lock"></i> <a href="#">Forgot password?</a></span-->
									
								</div>
								
							</form>
							
						</div>
					</div>
					<div class="clearfix"></div>
						
				</div>
				
			</div>

		</div>
	</div>
	<!-- END WRAPPER -->
	 	
